@font-face {
  font-family: "Tajawal";
  src: local("Tajawal"), url("./fonts/Tajawal-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Tajawal";
  src: local("Tajawal"), url("./fonts/Tajawal-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Tajawal";
  src: local("Tajawal"), url("./fonts/Tajawal-Regular.ttf") format("truetype");
}

.font {
  font-family: "Tajawal";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
